.header {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  background-color: #f1f1f1;
}
.header .fl {
  line-height: 1rem;
  color: #788296;
  font-size: 0.28rem;
  padding: 0 0.34rem;
}
.header .fr {
  line-height: 1rem;
  color: #788296;
  font-size: 0.28rem;
  padding: 0 0.34rem;
}
.list {
  overflow: hidden!important;
}
.list ul li {
  height: 1rem;
  line-height: 1rem;
  width: 100%;
  color: #1f1f25;
  font-size: 0.28rem;
  border-bottom: 0.01rem solid #f1f1f1;
}
.list ul li .fl {
  padding: 0 0.34rem;
}
.list ul li .fr {
  padding: 0 0.34rem;
}
